*{
	margin:0px;
	padding:0px;
	box-sitting: border-box;

}

html{
	font-size: 62.5%;
	
	
}

h1{
	font-size:2.6rem;
}

h2{
	font-size:4.8rem;
	font-family: 'PT Sans', sans-serif;
}

h3{
	font-size:3rem;
	font-family: 'PT Sans', sans-serif;
}

h4,h5{
	font-size:2.8rem;
	font-family: 'PT Sans', sans-serif;
}

a{
	color:white;
	text-decoration:none;
}

li{
	font-size:2rem;
	
}

.main{
	background: darkorange;
	color: white;

}

nav{
	min-height:10vh;
	display: flex;
	width:90%;
	margin:auto;
}

nav ul{
	display:flex;
	flex: 1 1 40rem;
	justify-content: space-around;
	align-items:center;
	list-style:none;
	
}

#logo{
	flex: 1 1 40rem;
	font-family: great-day;
	font-family: 'Dancing Script', cursive;
}

.fond{
	min-height:90vh;
	background: url("../images/profil.jpg");
	background-size: cover;
	background-position:center;
	color: white;
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	
}

.fond h3{
	padding:4rem;
}

button{
	padding: 2rem 6rem;
	background:black;
	color: white;
	font-size: 1.8rem;
	cursor: pointer;
	border:none;
}

ul{
	float: left;
}